body{
    background-color: #01B0F1;
}
header{
    text-align: center;
    max-width: 944px;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    margin:0 auto;
}
#main{
    max-width: 944px;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    margin:0 auto;
}
a{
    color: #000000;
}