body{
    text-align: center;
    user-select: none;
}
header{
    pointer-events: none;
    text-align: left;
}
.main {
    font-size: 64px;
}
.sub {
    font-size: 32px;
}
a{
    color: #000000;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
}   