body {
    text-align: center;
}
.main {
	text-align: center;
}
.main h1,h2,h4 {
	margin: 0;
	padding: 0;
}
.info{
	width: 80%;
	margin: 0 auto;
	text-align: left;
	list-style-type: disc;
}
@media (max-width: 430px){
	.photo{
		display: none;
	}
}