body{
    background-color: #00ff00;
}
.telop{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    border: solid 3px #01B0F1
}
.main {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff
}
#info{
    
    font-size: 32px;
}