body {
    text-align: center;
}
#title>span {
    display: block;
    margin-bottom: .3em;
}
#accounts {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
#accounts>* {
    padding: 1em;
    border-radius: .5em;
}
#accounts>*:hover {
    background-color: #80808080;
}
#accounts img {
    width: 5em;
}
a{
    color: #000000;
}
button {
    background-color: #00c3ff;
    border: none; 
    padding: 8px 16px; 
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
}
nav{
    margin: 0 auto;
    width: 875px;
    user-select: none;
}
nav ul {
    list-style: none;
}
nav li {
    display: inline;
    margin-right: 10px;
}
nav a {
    text-decoration: none;
    color: #000000;
}
.header{
    margin: 0 auto;
    display: flex;
    width: 875px;
    height: 150px;
    place-items: center;
    user-select: none;
    pointer-events: none;
    text-decoration: underline;
}
main{
    margin: 0 auto;
    width: 875px;
}
.up{
    font-size: 1.5em;
}
.under{
    font-size: 1.6em;
}