body{
    background-image: url("https://www.yuminQuakelive.net/imges/Background.png");
    background-size: cover;
    background-color: #01B0F1;
}
.main{
    width: 944px;
    background-color: #ffffff;
    border-radius: 8px;
    margin:0 auto;
    border: solid 3px #000000
}
.mes{
    width: 800px;
    margin:0 auto;
}
.main_center{
    text-align: center;
    width: 944px;
    background-color: #ffffff;
    border-radius: 8px;
    margin:0 auto;
    border: solid 3px #000000
}
.title{
    text-align: center;
    width: 944px;
    background-color: #7F7F7F;
    color: #ffffff;
    margin:0 auto;
    max-width: 500px;
}
a{
    color: #000000;
}
.data{
    text-align: right;
    width: 911px;
    margin:0 auto;
}
.b_bag{
    margin: 0 auto;
    text-align: center;
    width: 640px;
    height: 360px;
    border: solid 3px #FFE699
}
.b_bag img{
    width: 640px;
    height: 360px;
    pointer-events: none;
    user-select: none;
}
.b_bag_text{
    width: 640px;
    margin: 0 auto;
}
.mes_blue{
    width: 800px;
    margin:0 auto;
    color: #01B0F1;
}