body{
    background-image: url("https://www.yuminQuakelive.net/imges/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #01B0F1;
}
.form{
    width: 944px;
    height: 1150px;
    background-color: #D9F3FD;
    border-radius: 8px;
    margin:0 auto;
    border: solid 3px #000000
}
.pc_only{
    width: 944px;
    background-color: #ffffff;
    border-radius: 8px;
    margin: 0 auto;
    border: solid 3px #000000;
}
.button{
    text-align: right;
    margin: 0 auto;
    width: 925px;
    height: 50px;
}
button {
    background-color: #00c3ff;
    border: none;
    padding: 8px 16px;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
}
a{
    text-decoration: none;
    color: #000000;
}
footer{
    text-align: center;
    width: 944px;
    background-color: #ffffff;
    border-radius: 8px;
    margin: 0 auto;
    border: solid 3px #000000;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: #FFE699;
    border-radius: 8px;
    border: solid 3px #000000
}