body,html{
    width: 100%;
    height: 100%;
    margin: 0;
}
.iframe{
    display: block;
    margin: 2rem auto;
    width: 1000px;
    border-radius: 20px;
    background-color: #D9F3FD;
}
@media (max-width: 430px){
    .iframe{
        width: 80%;
    }
}