body{
    text-align: center;
}
a{
    color: #000000;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aqua;
}
#youtube{
    text-align: center;
    place-items: center;
    width: 27%;
    height: 15%;
    background-color: #000000;
    border: solid 3px #FFE699
}
#youtube a{
    color: #ffffff;
}