#ytbox{
    margin: 0 auto;
    text-align: center;
    place-items: center;
    width: 27%;
    height: 15%;
    background-image: url("../imges/Background.png") ;
    border: solid 3px #FFE699
}
#ytbox a{
    color: #000000;
}
#ytbox button{
    background-color: #00c3ff;
    border: none; 
    padding: 8px 16px; 
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
}