header{
    text-align: left;
}
body{
    text-align: center;
}
img{
    pointer-events: none;
  }
.main {
    font-size: 64px;
}
.sub {
    font-size: 32px;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 50px;
}   