body{
    background-image: url("https://www.yuminQuakelive.net/imges/Background.png");
    background-color: #01B0F1;
}
.main{
    max-width: 944px;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    margin:0 auto;
    text-align: center;
}
a{
    color: #000000;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: #FFE699;
    border-radius: 8px;
    border: solid 3px #000000
}