body{
    background-image: url("https://www.yuminQuakelive.net/imges/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #01B0F1;
}
header{
    text-align: center;
    max-width: 944px;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    margin:0 auto;
    border: solid 3px #000000
}
#title{
    text-align: center;
    max-width: 944px;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    margin:0 auto;
    border: solid 3px #000000
}
.about{
    max-width: 944px;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    margin:0 auto;
    border: solid 3px #000000
}
.info{
    max-width: 944px;
    background-color: #ffffff;
    border-radius: 8px;
    margin:0 auto;
    border: solid 3px #000000
}
#map{
    user-select: none;
    width: 944px;
    height: 450px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 8px;
    border: solid 3px #000000
}
.title{
    text-align: center;
    width: 500px;
    color: #ffffff;
    background-color: #7F7F7F;
    margin: 0 auto;
}
.name{
    width: 500px;
    margin: 0 auto;
}
.pr{
    text-align: center;
    max-width: 944px;
    background-color: #ffffff;
    border-radius: 8px;
    margin:0 auto;
    border: solid 3px #000000
}
a{
    color: #000000;
}
button a{
    text-decoration: none;
}
button {
    background-color: #00c3ff;
    border: none; 
    padding: 8px 16px; 
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
}
footer{
    text-align: center;
    max-width: 944px;
    background-color: #ffffff;
    border-radius: 8px;
    margin:0 auto;
    border: solid 3px #000000
}
.top_about{
    width: 510px;
    margin: 0 auto;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: #FFE699;
    border-radius: 8px;
    border: solid 3px #000000
}
.member_num{
    text-align: right;
}
noscript{
    text-align: center;
}