body { 
    margin:0; padding:0; z-index: 0;
}

header {
    position: absolute;
    position: fixed;
    right:10px;
	top:10px;
    width: 350px;
    z-index: 9999;
}

#map { 
    position:absolute; top:0; bottom:0; width:100%; z-index: 0;
}

#sidebar { 
    padding:10px; z-index: 0;
}

#sidebar-close {
     position:absolute; top:5px; right:5px; display:none; z-index: 0;
}

#sidebar-title h2 { 
    font-weight:500; margin-top:8px; z-index: 0;
}

#sidebar-title h2 span { 
    display:inline-block; margin-left:15px; z-index: 0;
}

#sidebar-title h2 span .label { 
    vertical-align:middle; margin-bottom:4px; z-index: 0;
}

#jma-link { 
    font-size:12px; margin-top:20px; z-index: 0;
}

#sidebar-content { 
    margin-top:10px; z-index: 0;
}

#sidebar-comment {
    margin:10px; z-index: 0;
}

#sidebar-comment div { 
    font-size:12px; color:#000000; margin-top:10px; z-index: 0;
}

#location-button { 
    position:absolute; right:11px; bottom:15px; background:#ffffff;box-shadow: 0 1px 2px 0 hsla(210, 6%, 14%, 0.149); z-index: 0;
}

#location-popup { 
    position:absolute; top:auto; right:65px; bottom:18px; font-size:0.8rem; z-index: 0;
}