body{
    background-color: #01B0F1;
    text-align: center;
}
header{
    max-width: 944px;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    margin:0 auto;
}
.main{
    max-width: 944px;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    margin:0 auto;
}
.appinfo{
    max-width: 944px;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    margin:0 auto;
}
.download{
    max-width: 944px;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    margin:0 auto;
}
a{
    color: #000000;
}
.btn {
    background-color: #00c3ff;
    color: rgb(0, 0, 0);
    border: none; 
    padding: 8px 16px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
footer{
    max-width: 944px;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    margin:0 auto;
}