body, h1, h2, p {
    margin: 0;
    padding: 0;   
}
h1, h2{
    text-align: center;
}
header {
    background-color: #5865f2;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
}
.main{
    width: 944px;
    margin: 0 auto;
}
.right{
    text-align: right;
}
.red{
    color: #ff0000;
}
a{
    color: #000000;
}
#line{
    text-decoration: underline;
}
button{
    background-color: #00c3ff;
    border: none; 
    padding: 8px 16px; 
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
}
footer{
    margin: 0;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}