body{
    text-align: center;
}
button {
    background-color: #00c3ff;
    color: rgb(0, 0, 0);
    border: none; 
    padding: 8px 16px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
button a{
    color: #000000;
}
a{
    color: #000000;
}