.main{
    width: 380px;
}
.version{
    text-align: right;
}
#eqinfo{
    background-color: #000000;
    color: #ffffff;
    width: 373px;
    height: 170px;
}
.loading{
    font-size: 60px;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
}