html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
h1,h2{
    margin: 0;
}
header{
    width: 100%;
    text-align: center;
}
.x_window{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 70%;
    place-items: center;
}
.window_item{
    width: 300px;
    margin:0 auto;
    border: solid 3px #000000
}
.yt_window{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 70%;
    place-items: center;
}
.title_x{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}
.title_x a{
    color: #ffffff;
    text-decoration: none;
}
.title_yt{
    background-color: #ff0000;
    color: #ffffff;
    text-align: center;
}
.title_yt a{
    color: #ffffff;
    text-decoration: none;
}
.center{
    text-align: center;
    margin: 0;
}
@media (max-width: 430px){
header img{
    width: 375px;
    height: 125px;
}
.x_window{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    place-items: center;
}
.yt_window{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 70%;
    place-items: center;
}
}