html,body{
    background-color: #C8E0FE;
}
br{
    user-select: none;
}
.content{
    text-align: center;
    width: 50%;
    background-color: #ffffff;
    border-radius: 8px;
    margin:0 auto;
}
.content a{
    text-decoration: none;
    user-select: none;
    color: #000000;
}
.member_name_id{
    text-align: left;
    width: 55%;
    margin: 0 auto;
}
.content span{
    display: inline-block;
}
div p {
    display: inline-block;  
}
h1 p{
    display: inline-block;  
}
.center{
    text-align: center;
}
@media (max-width: 430px){
    .content{
        width: 90%;
    }
    .member_name_id{
        width: 90%;
    }
    .none{
        display: none;
    }
}