body {
    background-image: url("https://www.yuminQuakelive.net/imges/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #00c3ff;
}
.main{
    
    max-width: 944px;
    background-color: #ffffff;
    border-radius: 8px;
    margin:0 auto;
    border: solid 3px #000000
}
#center{
    text-align: center;
}
.sns{
    border-radius: 8px;
    background-color: #ffffff;
    width: 400px;
    margin: 0 auto;
    border: solid 3px #000000
}
.accounts{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.accounts>* {
    padding: 1em;
    border-radius: .5em;
}
.accounts>*:hover {
    background-color: #80808080;
}
.accounts img {
    width: 5em;
}
.btn {
    background-color: #00c3ff;
    color: #000000;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
.yt_sam{
    margin: 0 auto;
    text-align: center;
    width: 640px;
    height: 360px;
    border: solid 3px #ffe699
}
.yt_sam img{
    width: 640px;
    height: 360px;
    
    user-select: none;
}
.w850{
    margin: 0 auto;
    width: 850px;
}
a{
    color: #000000;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: #FFE699;
    border-radius: 8px;
    border: solid 3px #000000
}