.white{
    width: 100%;
    background-color: #ffffff;
}
.slider{
    text-align: center;
    align-items: center;
    width: 94%;
    margin: 0 auto;
}
.window{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.window div{
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
@media (max-width: 430px){
.window{
    flex-direction: column;
}
}





.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeOut 1.5s 2.5s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loading__logo {
  opacity: 0;
  animation: logo_fade 2s 0.5s forwards;
  width: 375px;
}

@keyframes logo_fade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  60% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
  }
}