html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #000000;
    font-family: "ヒラギノ角ゴ-Pro",'Noto Sans JP';
}
#loading{
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 9999;
}
.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    border: 12px solid #fafafa;
    border-radius: 50%;
    border-top: 12px solid #3498db;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
}
#status{
    position: fixed;
    top: 60%;
    left: 50%;
    color: #ffffff;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
.scerror{
    color: #ffffff;
    position: fixed;
    margin: 0;
    display: none;
    padding: 10px;
}
#map {
    position: fixed;
    top: 0;
    right: 0;
    width: 75%;
    height: 100%;
    margin: 0;
    background: #1d1d1d;
}
.info{
    position: fixed;
    color: #ffffff;
    background-color: #000000;
    top: 0;
    overflow: auto;
    left: 0;
    width: 25%;
    height: 100%;
    font-family: "ヒラギノ角ゴ-Pro",'Noto Sans JP';
}
.content{
    width: 90%;
    margin: 0 auto;
}
.content h1,h2,h3{
    margin: 0;
}
#title{
    position: sticky;
    top: 0;
    margin: 0;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}
.copyright{
    position: fixed;
    bottom: 0;
    left: 25%;
    background-color: #1d1d1d;
    color: #ffffff;
    z-index: 1;
    margin: 0;
}
.copyright a{
    color: #ffffff;
}
.time{
    position: fixed;
    top: 0;
    left: 25%;
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
#eqrele{
    position: fixed;
    left: 25%;
    bottom: 24px;
    padding: 2px;
    margin-bottom: 5px;
    margin-left: 5px;
    color: #ffffff;
    background-color: #1d1d1d;
    border: solid 2.5px #ffffff;
    border-radius: 5px;
}
#setting{
    position: fixed;
    bottom: 34px;
    right: 10px;
    display: none;
    background-color: #000000;
    color: #ffffff;
    width: 20%;
    border: solid 3px #ffffff;
    border-radius: 15px;
    z-index: 9999;
}
.setting-button{
    width: 90%;
    margin: 5% auto;
    padding:20px 0;
    background-color: #ffffff;
    text-align: center;
    text-decoration: none;
}
.setting-button h1{
    margin: 0;
    font-size: 20px;
    color: #000000;
}
.menutitle{
    width: 90%;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
}
.decoration{
    text-decoration: none;
}
.btns {
    position: fixed;
    bottom: 10px;
    left: 10px;
    height: 34px;
    z-index: 9998;
    user-select: none;
}
#quakelist{
    right: 10px;
    height: 34px;
}
/*PC表示*/
.shindo_icon{
    position: fixed;
    bottom: 30px;
    right: 20px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 20px;
    border: solid 3px #ffffff
}
.hannrei-item {
    display: flex;
    gap: 0 30px;
    align-items: center;
    margin: 7px 30px;
    padding: 0;
}
.hannrei-item img {
    width: 50;
    height: 50;
}
.hannrei-item p {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}
#warn{
    position: fixed;
    top: 30px;
    right: 0;
    margin: 0;
    color: yellow;
    background-color: purple;
}
#eqcommentoff{
    text-align: right;
}
.comment {
    position: fixed;
    top: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.7);
    border: solid 3px #ffffff;
    color: #ffffff;
    padding: 5px;
    max-width: 40%;
    max-height: 50%;
    border-radius: 10px;
    z-index: 1000;
    overflow: auto;
}
.titleber{
    width: 98%;
    margin: 0 auto;
    color: #ffffff;
    text-align: right;
}
.comment a{
    text-decoration: none;
    color: #ffffff;
}

#sp_eqinfo,.block,#abroadtsunami,.pc,#warn,#mainmode,#eqisnone,.comment,#eqcommentoff,#eqcomment,#Status{
    display: none;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@media (max-width :1280px){
    .none,.shindo_icon{
        display: none;
    }
    .block{
        display: block;
    }
    .btns{
        bottom: auto;
        top: 10px;
        left: auto;
        right: 10px;
    }
    .comment{
        top: auto;
        bottom: 34px;
        right: 10px;
    }
}

@media (max-width: 430px){
    .sp,.sp_info,.shindo_icon,.btns,#warn,#eqcomment,.smart,.comment,.releace{
        display: none;
    }
    .pc{
        display: block;
    }
    .time{
        position: fixed;
        left: 0;
        width: 50%;
    }
    .info{
        width: 0;
        height: 0;
    }
    .copyright{
        left: 0;
    }
    #sp_eqinfo{
        display: block;
        position: fixed;
        width: 100%;
        top: 50px;
        z-index: 1;
        background: #00000088;
        color: #ffffff;
    }
    #title{
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
    }
    #map{
        width: 100%;
    }
    .btns{
        top: auto;
        left: 10px;
        bottom: 34px;
    }
    #quakelist{
        width: 50%;
        height: 34px;
    }
    #setting{
        top: 50%;
        bottom: auto;
        left: 50%;
        width: 80%;
        transform: translate(-50%, -50%);
    }
}